
  .card-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    //background-color: rgba(255, 140, 0, 0.43);

    .card-container {
      display: flex;
      margin: 0px;
      justify-content: center;

      &> div {
        flex: 1;
      }

      .more-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;


        .more-info__label {
          display: flex;
          flex-direction: column;
          margin-top: 22px;
        }
      }

      .card-container__image {

        img {
          width: 175px;
          height: 225px;
          border:3px solid black

        }
      }
      mat-radio-group {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-bottom: 3px;

        .counter {
          font-weight: bold;
          padding-bottom: 1px;
          margin-bottom: 1px;
          //border-bottom: 1px solid #b9b9b9;
        }

        label {
          font-weight: 400;
          color: black;
          float: none;
          width: unset;
        }

        &::ng-deep {
          .mat-radio-label {
            font-weight: 400;
            color: black;
          }
        }
      }
    }

    .action-buttons {
      display: flex;
      justify-content: center;
    }
  }
  .d {
    display: flex;
    flex-direction: column;
    min-width: 800px;
    //background-color: rgba(255, 140, 0, 0.43);

    max-height: 200px;
    overflow-y: auto;
  }

  .doug-button {
    display: flex;
    alignment: right;
    flex-direction: initial;
    width: 50px;
    //margin-top: 10%;
    //border: 1px solid black;
    //margin: 10%;
    //box-sizing: content-box;
    //align-content: end;
    flex-wrap: wrap;
    //align-items: stretch;
    //justify-content: space-evenly;

    //.more-info__label {
    //  display: flex;
    //  flex-direction: column;
    //  margin-top: 22px;
    }
  .justbutton {
    //border-top: 1px solid #b9b9b9;
    line-height: 20px;
    width: 100px !important;
    height: 20px !important;
    padding-top: 0;
    vertical-align: top;
    text-align: center !important;
    margin-top: 2px;
    margin-bottom: 1px;
  }
  .timerbutton {
    //border-top: 1px solid #b9b9b9;
    line-height: 20px;
    //width: 30px !important;
    height: 20px !important;
    padding-top: 0;
    vertical-align: top;
    //text-align: left !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
    //margin-top: 2px;
    //margin-bottom: 1px;
  }
  .justbutton-noborder {
    //border-top: 1px solid #b9b9b9;
    line-height: 20px;
    width: 50px !important;
    height: 20px !important;
    padding-top: 0;
    vertical-align: top;
    text-align: center !important;
    margin-top: 2px;
    margin-bottom: 1px;
    padding-left: 8px;
  }
  .justbutton-next {
    //border-top: 1px solid #b9b9b9;
    line-height: 20px;
    width: 70px !important;
    height: 20px !important;
    padding-top: 0;
    vertical-align: top;
    text-align: center !important;
    margin-top: 2px;
    margin-bottom: 1px;
    padding-left: 3px;
  }
  .justbutton-previous {
    //border-top: 1px solid #b9b9b9;
    line-height: 20px;
    width: 95px !important;
    height: 20px !important;
    padding-top: 0;
    vertical-align: top;
    text-align: center !important;
    margin-top: 2px;
    margin-bottom: 1px;
    padding-left: 3px;
  }
  .justbutton-showinfo {
    //border-top: 1px solid #b9b9b9;
    line-height: 20px;
    width: 100px !important;
    height: 20px !important;
    padding-top: 0;
    vertical-align: top;
    text-align: center !important;
    margin-top: 2px;
    margin-bottom: 1px;
  }
  .label-showinfo {
    alignment: left;
    //text-align: left;
    width: 150px;
  }
  .pclass {
    margin-top: 0;
    margin-bottom: 0;
    alignment: center;
    vertical-align: top;
    color: grey;
    font-size: 20px;
    width: 180px;
  }
