<div class="dougexample-container">
  <h1>
    Card Tester
  </h1>
  <mat-card align="center" class="card-wrapper">
      <div class="card-container">
        <div class="more-info">
<!--          <button *ngIf="showImage"-->
          <button
                  mat-raised-button
                  color="warn"
                  type="button"
                  (click)="doshow()"
                  class="justbutton-showinfo">
            {{showButton}}
          </button>
          <div *ngIf=showPerson class="more-info__label">
            <label *ngIf=showPerson class="label-showinfo">Person = {{person}}</label>
            <label *ngIf=showAction>Action = {{action}}</label>
            <label *ngIf=showObject>Object = {{object}}</label>
          </div>
<!--          <hr>-->
<!--            <label>{{myTimer}}</label>-->
        </div>
        <div class="card-container__image">
          <img *ngIf="firstCard" src={{bkgsrc}}>
          <img *ngIf="showImage && !firstCard" src={{imgsrc}}>
        </div>

        <mat-radio-group [(ngModel)]="testType">
          <label class="counter">Counter= {{counter}}</label>
          <mat-radio-button value="person"   (click)="pao('person')">Person</mat-radio-button>
          <mat-radio-button value="action"  (click)="pao('action')">Action</mat-radio-button>
          <mat-radio-button value="object"  (click)="pao('object')">Object</mat-radio-button>
          <div>
            <p align="center" style="color:red;font-size: 20px;width: 150px;height: 10px;padding-left: 20px">Timer Controls<br></p>
              <div align="left">
          <button mat-flat-button type="button" color="primary" (click)="onStartTimer()" class="timerbutton">Start</button>
<!--            <br>-->
          <button mat-flat-button type="button" color="accent" (click)="onStopTimer()" class="timerbutton">End</button>
<!--            <br>-->
                  <button mat-flat-button type="button" color="accent" (click)="onResetTimer()" class="timerbutton">Reset</button>
<!--            <br>-->
<!--            <button mat-raised-button type="button" (click)="onSaveWrongs()" class="timerbutton">Save Wrong Answers</button>-->
             <p align="center" class="pclass" >{{myTimer}}</p>
            </div>
          </div>
        </mat-radio-group>

      </div>


    <div>
      <button *ngIf="showPrevious"
              mat-raised-button
              color="accent"
              type="button"
              (click)="goPrevious()"
              class="justbutton-nextprevious">
        Previous Card
      </button>
      <button *ngIf="showNext && !firstCard"
              mat-raised-button
              color="primary"
              type="button"
              (click)="goNext()"
              class="justbutton-nextprevious">
        Next Card
      </button>
      <button *ngIf="firstCard && showNext"
              mat-raised-button
              color="primary"
              type="button"
              (click)="goNext()"
              class="justbutton">
        First Card
      </button>
<!--      <hr>-->

<!--      <p align="center">{{myTimer}}</p>-->
    </div>

    <div align="center">
    <form (ngSubmit)="onSubmit()" #myForm="ngForm" >
      <mat-form-field>
        <input matInput class="shit"
               size="20"
               [(ngModel)]="enteredAnswer"
               name="dude"
               required
               autofocus
               autocomplete="off"
               tabindex="0"/>
      </mat-form-field>

      <button mat-button type="submit">Submit</button>
    </form>
<!--      <h2 mat-dialog-title>Reset All?</h2>-->
<!--      <mat-dialog-content>This will reset all elements.</mat-dialog-content>-->
<!--      <mat-dialog-actions>-->
<!--        <button mat-button mat-dialog-close>Cancel</button>-->
<!--        &lt;!&ndash; The mat-dialog-close directive optionally accepts a value as a result for the dialog. &ndash;&gt;-->
<!--        <button *ngIf="showReset" mat-button [mat-dialog-close]="true" (click)="reset()">Reset</button>-->
<!--      </mat-dialog-actions>-->

<!--      <button mat-raised-button (click)="openDialog()" color="primary" name="dudebutton">Confirm box</button>-->
            <button *ngIf="showReset"
                    mat-button
                    type="button"
                    (click)="openDialog()"
                  class="justbutton-noborder">
              Reset
            </button>
      <button
              mat-raised-button
              type="button"
              (click)="goFirst()"
              class="justbutton-noborder">
        Test
      </button>
<!--      <button mat-raised-button type="button" (click)="onSaveWrongs()" class="justbutton-noborder">Save Wrongs</button>-->
    </div>
  </mat-card>

  <mat-card class="d" *ngIf="newWrongLength > 0">
    <b>Wrong Answers:</b>
    <br>
    Correct: Your Answer
    <ul>
      <li *ngFor="let myWrong of myWrongs">
        {{ myWrong.question + ' - ' + myWrong.answer }}
      </li>
    </ul>
    <hr>
  </mat-card>

</div>
