<div class="dougexample-container">
  <h2>
    Card Randomizer
  </h2>
  <mat-card align="center" class="card-wrapper">
      <div class="card-container">
        <div class="more-info">
          <button *ngIf="showImage"
                  mat-raised-button
                  color="warn"
                  type="button"
                  (click)="doshow()">
            {{showButton}}
          </button>
          <div class="more-info__label">
            <label *ngIf=showPerson>Person = {{person}}</label>
            <label *ngIf=showAction>Action = {{action}}</label>
            <label *ngIf=showObject>Object = {{object}}</label>
          </div>
        </div>
        <div class="card-container__image">
          <img *ngIf="firstCard" src={{bkgsrc}}>
          <img *ngIf="showImage && !firstCard" src={{imgsrc}}>
        </div>

        <mat-radio-group [(ngModel)]="testType">
          <label class="counter">Counter= {{counter}}</label>
          <mat-radio-button value="person"   (click)="pao('person')">Person</mat-radio-button>
          <mat-radio-button value="action"  (click)="pao('action')">Action</mat-radio-button>
          <mat-radio-button value="object"  (click)="pao('object')">Object</mat-radio-button>
          <!--    <mat-radio-button value="rwbody" (click)="dido('rwbody')">RWBody</mat-radio-button>-->
        </mat-radio-group>

      </div>

    <div class="action-buttons">

      <button *ngIf="showPrevious"
              mat-raised-button
              color="accent"
              type="button"
              (click)="goPrevious()">
        Previous Card
      </button>
      <button *ngIf="showNext && !firstCard"
              mat-raised-button
              color="primary"
              type="button"
              (click)="goNext()">
        Next Card
      </button>
      <button *ngIf="firstCard && showNext"
              mat-raised-button
              color="primary"
              type="button"
              (click)="goNext()">
        First Card
      </button>
      <button *ngIf="showReset"
              mat-button
              type="button"
              (click)="reset()">
        Reset
      </button>
    </div>

    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <mat-form-field>
        <input matInput class="shit"
               size="20"
               [(ngModel)]="enteredAnswer"
               name="dude"
               required
               autofocus
               autocomplete="off"
               tabindex="0"/>
      </mat-form-field>
      <button mat-button type="submit">Submit</button>
    </form>
  </mat-card>

  <mat-card *ngIf="newWrongLength > 0">
    Wrong Answers:
    <ul>
      <li *ngFor="let myWrong of myWrongs">
        {{ myWrong.question + ' - ' + myWrong.answer }}
      </li>
    </ul>
  </mat-card>
  <div align="center">
    <button mat-button type="button" (click)="onStartTimer()">Start Timer</button>
    <button mat-button type="button" (click)="onStopTimer()">End Timer</button>
    <button mat-button type="button" (click)="onSaveWrongs()">Save Wrongs</button>
    <button mat-button type="button" (click)="onResetTimer()">Reset Timer</button>
    <label>{{myTimer}}</label></div>
</div>
