<div class="dougexample-container">
  <h2>
    Card Randomizer
  </h2>
  <mat-card align="center" class="card-container">
      <div>
        <div class="card-container__image">
            <img *ngIf="firstCard" src={{bkgsrc}}>
            <img *ngIf="showImage && !firstCard" src={{imgsrc}}>
            <!--<label>Counter= {{counter}}</label>-->
        </div>

        <div *ngIf="showImage">
          <button mat-raised-button
                  color="warn" type="button"
                  (click)="doshow()">
            {{showButton}}
          </button>
        </div>
      </div>
      <span>
        <div *ngIf=showPerson align="right">
            <label>Person = {{person}}</label><br>
        </div>
        <div *ngIf=showAction align="right">
            <label>Action = {{action}}</label><br>
        </div>
        <div *ngIf=showObject align="right">
            <label>Object = {{object}}</label><br>
        </div>
      </span>
      <div *ngIf="showPrevious" class="div1">
        <button mat-raised-button color="accent" type="button" (click)="goPrevious()">Previous Card</button>
        &nbsp;
      </div>
      <div *ngIf="showNext && !firstCard" class="div1">
        <button mat-raised-button color="primary" type="button" (click)="goNext()">Next Card</button>
        &nbsp;
      </div>
      <div *ngIf="firstCard && showNext" class="div1">
        <button mat-raised-button color="primary" type="button" (click)="goNext()">First Card</button>
        &nbsp;
      </div>
      <div *ngIf="showReset" class="div1">
        <button mat-button type="button" (click)="reset()">Reset</button>
      </div>
    <form (ngSubmit)="onSubmit()" #myForm="ngForm">
      <mat-form-field>
        <input matInput class="shit" size="20" [(ngModel)]="enteredAnswer" name="dude" required autofocus
               autocomplete="off"
               tabindex="0"/>
      </mat-form-field>
      <button mat-button type="submit">Submit</button>
    </form>
  </mat-card>

  <mat-card *ngIf="newWrongLength > 0">
    Wrong Answers:
    <ul>
      <li *ngFor="let myWrong of myWrongs">
        {{ myWrong.question + ' - ' + myWrong.answer }}
      </li>
    </ul>
  </mat-card>
  <div align="center">
    <button mat-button type="button" (click)="onStartTimer()">Start Timer</button>
    <button mat-button type="button" (click)="onStopTimer()">End Timer</button>
    <button mat-button type="button" (click)="onSaveWrongs()">Save Wrongs</button>
    <button mat-button type="button" (click)="onResetTimer()">Reset Timer</button>
    <label>{{myTimer}}</label></div>
</div>
